{% extends "template.html" %}
{% block title %}START Survey{% endblock %}
{% block content %}
<div class="container">
  <h1>START Survey</h1>
  <form method="POST">
  <div class="row">
    
    <div class="four columns" style="text-align:justify">Location:</div>
    <div class="eight columns" style="text-align:justify">
      <select name="location">
	<option value="Urban">Urban</option>
	<option value="Suburban">Suburban</option>
	<option value="Rural">Rural</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="four columns" style="text-align:justify">Student Population:</div>
    <div class="eight columns" style="text-align:justify">
      <select name="pop">
	<option value="Small">Small-Sized Population</option>
	<option value="Medium">Medium-Sized Population</option>
	<option value="Large">Large-Sized Population</option>
      </select>
    </div>
  </div>
 
  <div class="row">
    <div class="four columns" style="text-align:justify">Specialization:</div>
    <div class="eight columns" style="text-align:justify">
      <select name="spec">
	<option value="STEM">STEM</option>
	<option value="Humanities">Humanities</option>
	<option value="Business">Business</option>
	<option value="Medical">Medical</option>
	<option value="Law">Law</option>
      </select>
    </div>
  </div>

  <div class="row">
    <input class="button-primary" type="submit" value="submit">
    </form>
  </div>
</div>
{% endblock %}
